<div class="container">
  <div class="recipe-box-top">
    <div class="recipe-box">
      <div class="">
        <a routerLink="/anaYemeklerDetay/{{anaYemek.id}}">
          <img src={{anaYemek.image}} alt="xxx">
        </a>
      </div>
      <div class="recipe-name">
        {{anaYemek.name}}
      </div>
    </div>
    <div class="recipe-box">
      <div class="">
          <a routerLink="/aperatifYemeklerDetay/{{aperatifYemek.id}}">
            <img src={{aperatifYemek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{aperatifYemek.name}}
      </div>
    </div>
    <div class="recipe-box">
      <div class="">
          <a routerLink="/borekDetay/{{borek.id}}">
            <img src={{borek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{borek.name}}
      </div>
    </div>
    <div class="recipe-box">
      <div class="">
          <a routerLink="/aperatifYemeklerDetay/{{aperatifYemek.id}}">
            <img src={{aperatifYemek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{aperatifYemek.name}}
      </div>
    </div>
  </div>
  <div class="recipe-box-bottom">
    <div class="recipe-box">
      <div class="">
          <a routerLink="/borekDetay/{{borek.id}}">
            <img src={{borek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{borek.name}}
      </div>
    </div>
    <div class="recipe-box">
      <div class="">
          <a routerLink="/anaYemeklerDetay/{{anaYemek.id}}">
            <img src={{anaYemek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{anaYemek.name}}
      </div>
    </div>
    <div class="recipe-box">
      <div class="">
          <a routerLink="/aperatifYemeklerDetay/{{aperatifYemek.id}}">
            <img src={{aperatifYemek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{aperatifYemek.name}}
      </div>
    </div>
    <div class="recipe-box">
      <div class="">
          <a routerLink="/anaYemeklerDetay/{{anaYemek.id}}">
            <img src={{anaYemek.image}} alt="xxx">
          </a>
      </div>
      <div class="recipe-name">
        {{anaYemek.name}}
      </div>
    </div>
  </div>
</div>
