<nav>
  <div class="header-nav-mid">
    <ul>
      <li> <a href="#">Home</a> </li>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Contact</a> </li>
      <li class="dropdown">
           <a routerLink="/homeMix">Kategoriler</a>
              <div class="dropdown-content">
                 <a
                    routerLink="/anaYemekTarifleri/{{kategoriler[0].id}}">
                   {{kategoriler[0].name}}
                 </a>
                 <a
                    routerLink="/aperatifYemekTarifleri/{{kategoriler[1].id}}">
                   {{kategoriler[1].name}}
                 </a>
                 <a
                    routerLink="/aperatifYemekTarifleri/{{kategoriler[2].id}}">
                   {{kategoriler[2].name}}
                 </a>
                 <a
                    routerLink="/aperatifYemekTarifleri/{{kategoriler[3].id}}">
                   {{kategoriler[3].name}}
                 </a>
                 <a
                    routerLink="/aperatifYemekTarifleri/{{kategoriler[4].id}}">
                   {{kategoriler[4].name}}
                 </a>
              </div>
      </li>
    </ul>
  </div>
</nav>
